<div class="row">

  <div class="col-md-3">
    <div class="row profile_img">
      <image src="<%= @git_hub_user.avatar_url %>"></image>
    </div>

    <div class="row">
      <h1><%= @git_hub_user.name %></h1>
    </div>

    <div class="row login_hp">
        <p><%= @git_hub_user.login %></p>
    </div>

    <div class="row mail_img">
        <image src='assets/mail'></image><span><%= @git_hub_user.email %></span>
    </div>

  </div>


  <div class="col-md-9">

    <%= render 'shared/mini_nav' %>

  </div>

</div>
